/* Import the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,700;1,6..96,400&family=Roboto+Mono:wght@400&display=swap');

/* These are the required Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom base styles here */
body {
  /* This prevents the horizontal scrollbar */
  overflow-x: hidden;
}

.font-display {
  font-family: 'Bodoni Moda', serif;
}

.font-mono-custom {
  font-family: 'Roboto Mono', monospace;
}